.photoList {
    column-count: 4;
    column-gap: 16px;
    margin: 16px;
}

.photoItem {
    break-inside: avoid;
    position: relative;
    margin-bottom: 16px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.photoItem img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.photoItem button {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: transparent;
    border: none;
    padding: 4px;
    cursor: pointer;
    font-size: 1.5rem;
    outline: none;
}

.photoItem button.favorite {
    color: red;
}